.hide {
  display: none;
}

.leftbg__image {
  position: absolute;
  width: 256px;
  height: auto;
  bottom: -95em;
  z-index: -1;
}

.rectangle1 {
  /* position: relative; */
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 3px;
  top: 50px;
  left: 7em;
  transform: rotate(-25deg);
}

.rectangle2 {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8em;
  left: 15em;
  border-radius: 4px;
}
.rectangle3 {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 5em;
  left: 21em;
  border-radius: 3px;
  transform: rotate(-25deg);
}

@media (min-width: 768px) {
  .leftbg__image {
    width: 423px;
    height: auto;
    bottom: -75em;
  }

  .rectangle1 {
    width: 14px;
    height: 14px;
    left: -10em;
    top: 30px;
  }

  .rectangle2 {
    width: 9px;
    height: 9px;
    top: 10em;
    left: 1em;
  }
  .rectangle3 {
    width: 14px;
    height: 14px;
    top: 4em;
    left: 18em;
  }
}

@media (min-width: 1280px) {
  .leftbg__image {
    width: 558px;
    height: auto;
    bottom: -85em;
  }

  .rectangle1 {
    left: -20em;
  }

  .rectangle2 {
    left: 10em;
  }
  .rectangle3 {
    left: 32em;
  }
  .hide {
    display: flex;
  }
}
