.prep__box {
  padding: 24px 16px 0 16px;
  width: 100%;
  max-width: 343px;
}

.title {
  color: #3e4462;
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: -0.48px;
  margin-top: 50px;
}
.textarea {
  width: 100%;
  max-width: 343px;
  height: 154px;
  margin-top: 40px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  opacity: 0.5;
  padding: 10px 0 0 16px;
}

.btn__add {
  appearance: none;
  background-color: transparent;
  border: none;
}

.add__text {
  position: absolute;
  z-index: 1;
  color: #fafafa;
  top: 69.1em;
  margin-left: 45px;
}

.svg__btn {
  width: 129px;
  height: 46px;
  margin-top: 18px;
}

.svg__btn:hover {
  fill: #8baa36;
  transition: fill 0.3s ease;
}

@media (min-width: 768px) {
  .prep__box {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 505px;
    position: relative;
  }

  .title {
    margin-top: 50px;
    position: relative;
    left: -81px;
  }
  .textarea {
    max-width: 505px;
    position: relative;
    right: 82px;
    height: 224px;
    margin-top: 32px;
    padding: 16px 0 0 22px;
  }

  .add__text {
    color: #fafafa;
    top: 23.7em;
    left: -4.5em;
  }

  .svg__btn {
    width: 161px;
    height: 52px;
    margin-top: 32px;
    position: relative;
    left: -260px;
  }
}

@media (min-width: 1280px) {
  .prep__box {
    /* display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 505px; */
    position: relative;
    left: -14em;
  }

  .title {
    margin-top: 50px;
    position: relative;
    left: -81px;
  }
  .textarea {
    max-width: 505px;
    position: relative;
    right: 82px;
    height: 224px;
    margin-top: 32px;
    padding: 16px 0 0 22px;
  }

  .add__text {
    color: #fafafa;
    top: 23.7em;
    left: -4.5em;
  }

  .svg__btn {
    width: 161px;
    height: 52px;
    margin-top: 32px;
    position: relative;
    left: -260px;
  }
}
