.popular__box {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 90px;
  margin-bottom: 100px;
}
.popular__header {
  color: var(--main-text);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  margin-bottom: 32px;
  position: absolute;
  top: -50px;
  left: 10px;
}

.popular__item {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: row;
}

.popular__title {
  color: var(--main-text);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
  padding-bottom: 4px;
}
.popular__img {
  width: 104px;
  height: auto;
  border-radius: 8px;
}
.popular__decsr {
  overflow: hidden;
  color: #7e7e7e;
  font-feature-settings: "clig" off, "liga" off;
  text-overflow: ellipsis;
  white-space: wrap;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
}
.descr__box {
  width: 100%;
  max-width: 212px;
  margin-left: 13px;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 13px;
  border-bottom: 1px solid #d7d6d6;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .popular__box {
    max-width: 704px;
    flex-direction: row;
    margin-left: 30px;
  }

  .popular__item {
    max-width: 336px;
  }

  .popular__img {
    width: 102px;
  }
  .descr__box {
    max-width: 208px;
  }
  .popular__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .popular__box {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    margin: 0;
    position: relative;
    right: -23em;
    top: -570px;
  }
  .popular__header {
    position: absolute;
    left: 8.4em;
  }

  .popular__item {
    max-width: 319px;
  }

  .popular__img {
    width: 97px;
  }
  .descr__box {
    max-width: 198px;
  }
  .popular__list {
    flex-direction: column;
  }
}
